[submodule "sub-repo-1"]
	path = sub-repo-1
	url = git@github.com:utsavjain1408/sub-repo-1.git
[submodule "sub-repo-2"]
	path = sub-repo-2
	url = git@github.com:utsavjain1408/sub-repo-2.git
[submodule "sub-repo-3"]
	path = sub-repo-3
	url = git@github.com:utsavjain1408/sub-repo-3.git
